<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="expressionSettings" type="Serialize.Linq.LayrCakeCustom.ExpressionConfigurationSection, Serialize.Linq, Version=3.0.0.0, Culture=neutral, PublicKeyToken=25bcc11ba213b377"/>
  </configSections>
  <expressionSettings>
    <expressions>
      <add name="Infrastructure.Tests" assemblyName="Infrastructure.Tests" lookupNamespace="Infrastructure.Tests.Models" suffixRemove="Vwm" suffixReplace="Dto"/>
      <add name="OPTESS.ActionService" assemblyName="OPTESS.ActionService" lookupNamespace="OPTESS.ActionService.DataTransferObjects.Implementation" suffixRemove="Vwm" suffixReplace="Dto"/>
    </expressions>
  </expressionSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
